.footer-bg{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.desc-bg{
    display: flex;
    flex-direction: column;
}

.top-desc{
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
}
.bottom-desc{
    display: flex;
    margin: 1em;
}

.head-desc{
    font-size: 24px;
    width: 8.5em;
}



@media screen and (max-width:1200px) {
    .footer-bg{
        flex-direction: column;
    }
    .easy-ahead-bg{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width:760px) {
    .top-desc{
        flex-wrap: wrap;
    }
}
