.header-bg{
    position: sticky;
    top: 0;
}
.nav-el{
    cursor: pointer;
    font-size: 17px;
}
.divider {
    background-color: #000; 
}
  
.up-right-arrow{
    cursor: pointer;
}

.home-para{
    color: rgb(31, 152, 200);
    font-size: 20px;
}
.help-para{
    font-weight: 600;
    font-size: 20px;
}
